{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SRM Solver</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'finlogic/images/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'finlogic/css/main.css' %}"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"
      integrity="sha256-7lWo7cjrrponRJcS6bc8isfsPDwSKoaYfGIHgSheQkk="
      crossorigin="anonymous"
    ></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'home/css/main.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
  </head>

  <body>
    <div style="display: none" id="main-div">
      <div>{% include 'navbar.html' %}</div>

      <div>{% block content %}{% endblock %}</div>

      <div class="fixed bottom-0 left-0 w-full">
        {% include "footer.html" %}
      </div>
    </div>

    {% block javascript %}{% endblock %}
  </body>
</html>
