{% extends 'base.html' %}

{% block content %}

{% load static %}

<main>

    <div class="col-sm-12 col-md-8 m-auto">

        <h1 class="py-4">Sign up</h1>

        <form class='p-2 col-sm-12 col-md-8 m-auto' method="POST" action=".">

                {% csrf_token %}

                {% if error %}

                <div class="alert alert-danger" role="alert">
                    {{ error }}
                    {{ form.errors }}
                </div>

                <hr class="m-2">

                {% endif %}

                <div class="mb-3 m-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>

                <div class="mb-3 m-2">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" name="password1" id="password1" class="form-control">
                </div>

                <div class="mb-3 m-2">
                    <label for="password2" class="form-label">Confirm password</label>
                    <input type="password" name="password2" id="password2" class="form-control">
                </div>

                <div class="mb-3 m-2">
                    <label for="full_name" class="form-label">Full name (optional)</label>
                    <input type="text" name="full_name" class="form-control" id="full_name">
                </div>

                <div class="mb-3 m-2">
                    <label class="form-label">Country (optional)</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        {% for country in form.country %}
                        <option value="{{ country }}">{{ country }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="p-2 d-flex justify-content-center">
                    <button class="btn btn-primary w-100 p-3">Sign up</button>
                </div>

            </form>

    </div>

</main>

{% endblock %}