{% extends 'srm_solver/base.html' %}

{% block content %}

<div class="col-sm-12 col-md-8 m-auto">

    <h1 class="py-4">Home page</h1>

    <h3>Welcome!</h3>

    <div class="py-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">SRM Solver web app</h5>
                <h6 class="card-subtitle mb-2 text-muted">Simulate a solid rocket motor from your own web browser</h6>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row justify-content-center">
            <a href="{% url 'create_srm' %}" class="btn btn-primary col-2">Create a Motor</a>
        </div>
    </div>

</div>

{% endblock %}
