<div class="row">
    <nav class="col-12 col-md-4 col-lg-3 p-3 min-vh-100 bg-light h-100 sticky-top">
        <div class="px-2">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <i class="fas fa-toolbox"></i>
                <span class="fs-4 px-2">Toolbox</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                {% if propellant %}
                <a href="{% url 'create_srm_propellant' %}" class="nav-link link-dark active" aria-current="page">
                {% else %}
                <a href="{% url 'create_srm_propellant' %}" class="nav-link link-dark" aria-current="page">
                {% endif %}
                    <i class="fas fa-gas-pump"></i>
                    <span class="fs-6 px-2">Propellant</span>
                </a>
                </li>
                <li>
                {% if grain %}
                <a href="{% url 'create_srm_grain' %}" class="nav-link link-dark active">
                {% else %}
                <a href="{% url 'create_srm_grain' %}" class="nav-link link-dark">
                {% endif %}
                    <i class="fas fa-dot-circle"></i>
                    <span class="fs-6 px-2">Grain</span>
                </a>
                </li>
                <li>
                {% if structure %}
                <a href="{% url 'create_srm_structure' %}" class="nav-link link-dark active">
                {% else %}
                <a href="{% url 'create_srm_structure' %}" class="nav-link link-dark">
                {% endif %}
                    <i class="fas fa-tools"></i>
                    <span class="fs-6 px-2">Structure</span>
                </a>
                </li>
                <li>
                {% if rocket %}
                <a href="{% url 'create_srm_rocket' %}" class="nav-link link-dark active">
                {% else %}
                <a href="{% url 'create_srm_rocket' %}" class="nav-link link-dark">
                {% endif %}
                  <i class="fas fa-rocket"></i>
                  <span class="fs-6 px-2">Rocket</span>
                </a>
                </li>
                <li>
                {% if recovery %}
                <a href="{% url 'create_srm_recovery' %}" class="nav-link link-dark active">
                {% else %}
                <a href="{% url 'create_srm_recovery' %}" class="nav-link link-dark">
                {% endif %}
                  <i class="fas fa-parachute-box"></i>
                  <span class="fs-6 px-2">Recovery</span>
                </a>
                </li>
            </ul>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                <a href="#" class="nav-link link-dark disabled" aria-current="page">
                    <i class="fas fa-paper-plane"></i>
                    <span class="fs-6 px-2">Ballistic Simulation</span>
                </a>
                </li>
                <li class="nav-item">
                <a href="#" class="nav-link link-dark disabled" aria-current="page">
                    <i class="fas fa-temperature-high"></i>
                    <span class="fs-6 px-2">Thermal Simulation</span>
                </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown px-4">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>{{ user.username }}</strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#">Delete motor</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="b-example-divider"></div>
