{% extends 'srm_solver/base.html' %}

{% block content %}

<h1>Sign up</h1>

<br>

<h2>{{ error }}</h2>

<!--Form method as POST in oder to keep the form details not displayed in the URL.-->
<form method="POST">
<!--    CSRF is a security token necessary for the browser to load the page. -->
    {% csrf_token %}
    {{ sign_form.as_p }}
<!--    Button type 'submit' means that as 'enter' is pressed, the form is automatically submitted-->
    <button type="submit" class="btn btn-primary"> Sign up </button>
</form>

{% endblock %}